name: Build

on:
  push:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main
  pull_request:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ '21' ]
        work-dir: [ '.' ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Grant execute permission for Gradle
        working-directory: ${{ matrix.work-dir }}
        run: chmod +x ./gradlew

      - name: Build and Analyze with JaCoCo
        working-directory: ${{ matrix.work-dir }}
        run: ./gradlew clean build jacocoTestReport --no-daemon --info

      - name: Add Coverage to Job Summary
        run: |
          cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Upload JaCoCo HTML Report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-html-report
          path: build/reports/jacoco/test/html/
          retention-days: 5