name: Build

on:
  push:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main
  pull_request:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ '21' ]
        work-dir: [ '.' ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Grant execute permission for Gradle
        working-directory: ${{ matrix.work-dir }}
        run: chmod +x ./gradlew

      - name: Run Unit Tests (Excluding Concurrency Tests)
        working-directory: ${{ matrix.work-dir }}
        run: ./gradlew clean test -PexcludeTags=concurrency --no-build-cache --stacktrace --info

      - name: Run Unit Tests (Only Concurrency Tests)
        working-directory: ${{ matrix.work-dir }}
        run: ./gradlew test -PincludeTags=concurrency --no-build-cache --stacktrace --info

      - name: Generate JaCoCo Report
        working-directory: ${{ matrix.work-dir }}
        run: ./gradlew jacocoTestReport -x test --no-daemon --info

      - name: Debug - Check Report Existence
        run: ls -la build/reports/jacoco/test

      - name: Generate Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: ${{ github.workspace }}/build/reports/jacoco/test/jacocoTestReport.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage to Job Summary
        run: |
          cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Upload JaCoCo HTML Report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-html-report
          path: build/reports/jacoco/test/html/
          retention-days: 5